<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title color="medium">R E C U P E R A R    S E N H A</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="recuperarSenha()">

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Recuperar senha</ion-button>
  </form>
</ion-content>